* {
  margin: 0%;
  padding: 0%;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 68, 172, 1) 31%,
    rgba(33, 61, 158, 1) 50%,
    rgba(42, 77, 190, 1) 64%,
    rgba(19, 152, 226, 1) 85%,
    rgba(25, 140, 181, 1) 100%
  );
  display: grid;
  justify-items: center;
  align-items: center;
}

main {
  background: #fff;
  height: 100vh;
  width: 45%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

h1,
p,
a,
label {
  font-family: "Manrope", sans-serif;
  background: -webkit-linear-gradient(#198cb5, #5338b5);
  background: linear-gradient(#198cb5, #5338b5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5338b5;
}

.px {
  font-size: 30px;
  width: 50vh;
  text-align: center;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #198cb5, #5338b5);
  padding: 12px;
  box-shadow: 4px 4px 2px;
  transition: all 0.5s;
}

.px:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.px:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

p {
  font-size: 25px;
}
h1 {
  font-size: 70px;
  margin-top: 6%;
}

#vs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 30px;
}
input {
  text-align: initial;
  padding: 12px;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #198cb5, #5338b5);
  width: 56vh;
  outline: none;
  font-size: 20px;
  letter-spacing: 2px;
}
#sub {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sub:hover {
  background: #198cb5;
  color: white;
  border: #198cb5 3px solid;
}
#suv {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

section {
  background: #fff;
  height: 65vh;
  width: 50%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6%;
  margin-top: 10%;
  padding: 1%;
}
.ts{
  box-shadow: 4px 4px 2px #5338b5;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200.. 800&display=swap");
